.tImage{
	width: 1000px;
	height: auto;
}

.tText{
	width: 49%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	float: right;
	color: red;
	font-size: 118%;
	font-weight: normal;
}

.tTop{
	margin: 40px;
	font-size: 20px;
}

.crad{
	float: right;
}